.card-container {
  display:flex;
  // align-content:space-between;
  margin-top:30px;
  margin-right:20px;
  // margin-left:auto;
}

.resume {
  margin-left:30px;
  h1{
    color:black;
    font-family:oswald;
    font-size: 50px;
    font-weight:bold;
  }
}
