.card-container {
  display:flex;
  // align-content:space-between;
  margin-right:20px;
  margin-left:50px;
  .cards-1 {
    width:250px;
    margin-right: auto;
    margin-left: auto;
    #animation1 {
      width:250px;
      height:250px;
    }
  }
}

.rdv-square {
  background-color:#235ba7;
  width:900px;
  height:35px;
  margin-top:50px;
  margin-bottom:50px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
}
