.container-particulier {
  // display:flex;
  // align-content:space-between;
  margin-top: 70px;
  margin-bottom:-90px;
  padding:2%;
  // margin-right:auto;
  // margin-left:auto;
}

.resume {
  margin-left:30px;
  h1{
    color:white;
    font-family:oswald;
    font-size: 50px;
    font-weight:bold;
    margin-top:-110px;
  }
}

