<div class="footer-container">
  <div class="footer-script">
    <h1>Lite Services</h1>
    <p>06 35 15 81 32</p>
    <p>contact@service-lite-plus.com<p>
  </div>
  <div class="copyright">
    <h3>Lite Services est un site conçu par l'agence Lite Services<h3>
    <p>©Service Lite Plus - 2021<p>
  </div>
</div>
