<div class="navbar1">
  <div class="block-navbar" style="display:flex;">
      <h1> CLUB AUTO </h1>
      <div class="text-navbar" style="flex-direction: column">
      </div>
  </div>
  <div class="block-navbar" style="display:flex;">
      <img src="/assets/images/icon1.png">
      <div class="text-navbar" style="flex-direction: column">
        <h2>ADRESSE</h2>
        <h3>Avenue Charles De Gaulle</h3>
      </div>
  </div>
  <div class="block-navbar" style="display:flex;">
    <img src="/assets/images/icon1.png">
    <div class="text-navbar" style="flex-direction: column">
      <h2>TELEPHONE</h2>
      <h3>01 23 45 67 89</h3>
    </div>
  </div>
  <div class="block-navbar" style="display:flex;">
    <img src="/assets/images/icon1.png">
    <div class="text-navbar" style="flex-direction: column">
      <h2>OUVERTURE:  Du Lundi au Samedi</h2>
      <h3>Horaires: de 9h à 17h</h3>
    </div>
  </div>
   <div class="block-navbar" style="display:flex;">
    <img src="/assets/images/icon1.png">
    <div class="text-navbar" style="flex-direction: column">
      <h2>Facebook favicon</h2>
      <h3>Twitter favicon</h3>
    </div>
  </div>
</div>

  <div class="navbar-container">
    <div class="menu-navbar" style="opacity:5;">
      <%= link_to "Accueil", root_path %>
      <%= link_to "Ventes", ventes_path %>
      <%= link_to "Location", location_path %>
      <%= link_to "Contact", contact_path %>
    </div>
</div>
