  <div class="resume" style="margin-left:50px;">
    <h1>Contactez-nous</h1>
    <p style="margin-left: 50px;">
  </div>

  <div class="cards" style="width:90%; margin-left:auto; margin-right:auto; margin-top:20px;">
      <div class="card-text" style="padding:30px;">
        <!-- <h1>Lite Services</h1> -->
        <h1>Notre engagement</h1>
        <h2>Lite Services - Agence de digitalisation</h2>
        <p style="width:600px; margin-right: auto; margin-left:auto; font-size:20px;margin-top:20px;">L'agence Lite Services a été créée avec comme ambition de servir les besoins digitaux des acteurs sociaux afin de leur offrir à tous une possibilité de vivre en harmonie grâce aux outils de la technologie. L'ère de l'égalite du numérique est à venir et grâce à l'action de notre agence de communication, Lite Services est fière de mettre à votre disposition ses compétences et de vous présenter ces nouvelles convictions humanistes.</p>
        <p>Contactez-nous</p>
<!--         <p> Anthony Mania</p>
 -->      <p>Tél: + 33 6 35 15 81 32</p>
        <p>Email: contact@service-lite-plus.com</p>
<!--         <a style="margin-left:auto; margin-right:auto;" href="mailto:contact@service-lite-plus.com">Ecrivez-nous</a>
 -->   </div>
  </div>
<!-- <form method="post" action="cible.php">
  <div class="form-group" style="margin-right: 40px; margin-left:40px;">
    <label for="exampleFormControlInput1">Votre adresse email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="votre adresse email">
  </div>
  <div class="form-group" style="margin-right: 40px; margin-left:40px;">
    <label for="exampleFormControlSelect1">Vous êtes</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Un particulier</option>
      <option>Une entreprise</option>
    </select>
  </div>
  <div class="form-group" style="margin-right: 40px; margin-left:40px;">
    <label for="exampleFormControlSelect2">Vous souhaitez</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>Une création webdesign</option>
      <option>Des conseils, une assistance</option>
      <option>Un aménagement intérieur</option>
      <option>Un cours</option>
      <option>Une formation</option>
    </select>
  </div>
  <div class="form-group" style="margin-right: 40px; margin-left:40px;">
    <label for="exampleFormControlTextarea1">Ecrivez votre message ci-dessous</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
 </form>
 -->
<!--
    <form method="post" action="mail.php">
        <label>Tape ton message ici pour m'écrire</label>
        <textarea rows="10" cols="30" name="message"></textarea>
        <input type="submit" href="mailto:contact@service-lite-plus.com">
    </form>
 -->
