  <div class="resume" style="margin-left:50px;">
    <h1>Contactez-nous</h1>
<!--     <p style="margin-left: 50px;">
 --><!--     en indiquant votre message dans ce formulaire</p>
 -->  </div>

  <div class="cards" style="width:90%; margin-left:auto; margin-right:auto;">
        <img src="https://images.unsplash.com/photo-1494029722188-672a328c4989?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1891&q=80">
      <div class="card-text">
        <h1>Digit Yourself</h1>
        <a style="margin-left:auto; margin-right:auto;" href="mailto:contact@service-lite-plus.com">Ecrivez-nous</a>
      </div>
  </div>
<!-- <form method="post" action="cible.php">
  <div class="form-group" style="margin-right: 40px; margin-left:40px;">
    <label for="exampleFormControlInput1">Votre adresse email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="votre adresse email">
  </div>
  <div class="form-group" style="margin-right: 40px; margin-left:40px;">
    <label for="exampleFormControlSelect1">Vous êtes</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>Un particulier</option>
      <option>Une entreprise</option>
    </select>
  </div>
  <div class="form-group" style="margin-right: 40px; margin-left:40px;">
    <label for="exampleFormControlSelect2">Vous souhaitez</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>Une création webdesign</option>
      <option>Des conseils, une assistance</option>
      <option>Un aménagement intérieur</option>
      <option>Un cours</option>
      <option>Une formation</option>
    </select>
  </div>
  <div class="form-group" style="margin-right: 40px; margin-left:40px;">
    <label for="exampleFormControlTextarea1">Ecrivez votre message ci-dessous</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div> -->


</form>
