  <div class="resume" style="margin-left:50px;">
    <h1>Nos services aux entreprises</h1>
  </div>
<div class="container-particulier">
  <div class="cards-unique">
        <img src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80">
      <div class="card-text">
        <h1>Webdesign</h1>
        <h2>Offrez vous une présence sur le web</h2>
        <p>Notre équipe se réunit autour de votre projet pour vous proposer nos meilleurs délais et nos meilleurs tarifs de conception de site web.</p>
      </div>
  </div>
  <div class="cards-unique">
        <img src="https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2301&q=80">
      <div class="card-text">
        <h1>Aménagement des espaces de travail</h1>
        <h2>La gestion de l'espace, force majeure de la communication</h2>
        <p>La digitalisation offre de nombreuses solutions d'aménagement des espaces. Nous estimons vos espaces, vos biens et mettons en place une stratégie de digitalisation pour répondre à l'ensemble de vos besoins professionnels.</p>
      </div>
  </div>
  <div class="cards-unique">
        <img src="https://images.unsplash.com/photo-1533750516457-a7f992034fec?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1981&q=80">
      <div class="card-text">
        <h1>Référencement & Supports de communication</h1>
        <h2>Une image de marque</h2>
        <p>Une présence web s'accompagne d'une maintenance et d'une veille des outils de communication et des réseaux sociaux. Nous vous accompagnons pour le déploiement et les consignes à respecter pour garantir d'une bonne visibilité web.</p>
      </div>
  </div>
  <div class="cards-unique">
        <img src="https://images.unsplash.com/photo-1504270997636-07ddfbd48945?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80">
      <div class="card-text">
        <h1>Dématérialisation</h1>
        <h2>Une gestion des priorités et des efforts</h2>
        <p>La dématérialisation peut vous offrir un confort inégalable à condition de bien dominer les tâches du quotidien pour organiser votre manière de travailler. Nos missions de scan et de gestion de document collaborative vous accompagne vers un gain de temps et une meilleure gestion des priorités et des efforts.</p>
      </div>
  </div>
</div>
