<!-- <div class="titre">
  <h1>Page d'accueil</h1>
</div> -->
<div class="card-container">
  <div class="cards">
        <img src="https://images.unsplash.com/photo-1494029722188-672a328c4989?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1891&q=80">
      <div class="card-text">
        <h1>Digit Yourself</h1>
        <h2>Allégez votre temps individuel</h2>
        <p>Vous êtes seul-e, dépassé par le temps, démuni-e, victime d'un choc émotionnel, vous avez besoin d'un vrai changement, abandonnez les tâches digitales, nos services interviennent pour vous assurer un nouvel équilibre de vie sans les corvées digitales.</p>
      </div>
  </div>

  <div class="cards">
      <img src="https://images.unsplash.com/photo-1475503572774-15a45e5d60b9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80">
      <div class="card-text">
        <div>
        <h1>Digit Your Family</h1>
          <h2>Retrouvez la légéreté digitale</h2>
          <p>Profitez de votre temps en famille et assurez la qualité de votre avenir familial. En véritable ami de famille, notre expert prend en main votre besoin digital, et met en place le meilleur plan de dématérialisation.</p>
        </div>
      </div>
    </div>
  <div class="cards">
        <img src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80">
      <div class="card-text">
        <h1>Digit Your Company</h1>
        <h2>Organisez votre collectif</h2>
        <p>Vous êtes un groupe, une association, un club sportif? Vous avez besoin d'un suivi de communication interne, d'une gestion documentaire collaborative? Digitalize intervient avec des schémas de communication interne clés en main, dignes des meilleures entreprises.
</p>
      </div>
  </div>
  <div class="cards">
        <img src="https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80">
      <div class="card-text">
        <h1>Digit Your Business</h1>
        <h2>Devenez un expert du travail digital</h2>
        <p>Pour les PME, les hôteliers, les restaurants, les écoles, nous mettons en place votre suivi et procédons à votre dématérialisation puis nous vous conseillons avec des sessions de formation.</p>
      </div>
  </div>
</div>

  <div class="rdv-square">
    <%= link_to "Prenez rendez-vous" %>
  </div>

<h1>Nos objectifs</h1>
<div class="card-container">
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Réduire vos corvées digitales</h3>
  </div>
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Vous aider à retrouver la simplicité grâce à une vie digitale plus légère</h3>
  </div>
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Assouplir votre vie et soutenir un recyclage intelligent</h3>
  </div>
 <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Lutter contre l'exclusion numérique</h3>
  </div>
</div>


 <div class="rdv-square">
    <%= link_to "Prenez rendez-vous" %>
  </div>

<h1>Vos besoins</h1>

<div class="card-container">
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Rangement et transfert de vos dossiers</h3>
  </div>
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Aménagement d'intérieur et gain de place</h3>
  </div>
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Assouplir votre vie et soutenir un recyclage intelligent</h3>
  </div>
 <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Lutter contre l'exclusion numérique</h3>
  </div>
</div>

<div class="card-container">
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Rangement et transfert de vos dossiers</h3>
  </div>
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Aménagement d'intérieur et gain de place</h3>
  </div>
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Assouplir votre vie et soutenir un recyclage intelligent</h3>
  </div>
 <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Lutter contre l'exclusion numérique</h3>
  </div>
</div>

