<div class="titre">
  <h1>Accueil</h1>
</div>
<div class="card-container">
  <div class="cards">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h1>Digit Yourself</h1>
      <h2>Allégez votre temps individuel</h2>
       <p>Profitez de votre temps en famille et assurez la qualité de votre avenir familial. En véritable ami de famille, notre expert prend en main votre besoin digital, et met en place le meilleur plan de dématérialisation.</p>
  </div>
  <div class="cards">
          <img id="animation1" src="assets/images/digit_yourself.jpg"/>
    <h1>Digit Your Family</h1>
      <h2>Centralisez vos données familiales</h2>
       <p>Profitez de votre temps en famille et assurez la qualité de votre avenir familial. En véritable ami de famille, notre expert prend en main votre besoin digital, et met en place le meilleur plan de dématérialisation.</p>
  </div>
  <div class="cards">
          <img id="animation1" src="assets/images/digit_yourself.jpg"/>
    <h1>Digit Your Business</h1>
      <h2>Revoyez l'image de votre marque</h2>
       <p>Pour les PME, les hôteliers, les restaurants, les écoles, nous mettons en place votre suivi et procédons à votre dématérialisation puis nous vous conseillons avec des sessions de formation.</p>
  </div>
  <div class="cards">
          <img id="animation1" src="assets/images/digit_yourself.jpg"/>
    <h1>Digit Your Job</h1>
      <h2>Offre d'emploi dans le numérique</h2>
       <p>Pour les PME, les hôteliers, les restaurants, les écoles, nous mettons en place votre suivi et procédons à votre dématérialisation puis nous vous conseillons avec des sessions de formation.</p>
  </div>
</div>

  <div class="rdv-square">
    <%= link_to "Prenez rendez-vous" %>
  </div>

<h1>Nos objectifs</h1>
<div class="card-container">
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Réduire vos corvées digitales</h3>
  </div>
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Vous aider à retrouver la simplicité grâce à une vie digitale plus légère</h3>
  </div>
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Assouplir votre vie et soutenir un recyclage intelligent</h3>
  </div>
 <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Lutter contre l'exclusion numérique</h3>
  </div>
</div>


 <div class="rdv-square">
    <%= link_to "Prenez rendez-vous" %>
  </div>

<h1>Vos besoins</h1>

<div class="card-container">
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Rangement et transfert de vos dossiers</h3>
  </div>
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Aménagement d'intérieur et gain de place</h3>
  </div>
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Assouplir votre vie et soutenir un recyclage intelligent</h3>
  </div>
 <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Lutter contre l'exclusion numérique</h3>
  </div>
</div>

<div class="card-container">
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Rangement et transfert de vos dossiers</h3>
  </div>
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Aménagement d'intérieur et gain de place</h3>
  </div>
  <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Assouplir votre vie et soutenir un recyclage intelligent</h3>
  </div>
 <div class="cards-1">
      <img id="animation1" src="assets/images/digit_yourself.jpg"/>
      <h3>Lutter contre l'exclusion numérique</h3>
  </div>
</div>

