
<!-- container 1 -->
<div class ="container-1">
  <!-- navbar  -->
  <div class="navbar1">
<!--     <div class="text-navbar">
      <h1>ESSAI NAVBAR/FOOTER</h1>
      <div class="block-navbar">
        <h2>ADRESSE</h2>
        <h3>Avenue Charles De Gaulle</h3>
      </div>
    </div> -->
  </div>
  <!-- banner menu + box shadow -->
  <!-- image -->
  <!-- bloc noir sous image -->
</div>
<!-- fin du container 1 -->

<!-- container 2 -->
  <!-- card 1 -->
  <!-- card 2 -->
<!-- fin du container 2 -->

<!-- container 3 -->
  <!-- image -->
  <!-- carrés jaune et rouge / opacity -->
<!-- fin du container 3 -->


<!-- container 4 -->
  <!-- titre VEHICULES RECENTS -->
  <!-- 3 cartes display flex -->
<!-- fin du container 4 -->

<!-- container 5 -->
  <!-- titre pourquoi nous choisir? -->
  <!-- 3 cartes display flex -->
<!-- fin du container 5 -->

<!-- container6 -->
  <!-- titre pourquoi nous choisir? -->
  <!-- 3 cartes display flex -->
<!-- fin du container 6 -->

<!-- footer -->
<!-- display flex -->
<!-- text copyright
fin du footer
