<!-- <div class="titre">
  <h1>Page d'accueil</h1>
</div> -->
<div class="card-container">
      <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="cards">
          <img src="https://images.unsplash.com/photo-1494029722188-672a328c4989?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1891&q=80">
        <div class="card-text">
          <h1>Digit Yourself</h1>
          <h2>Organisez votre temps pour en gagner encore plus</h2>
          <p>Vous êtes seul-e, dépassé par le temps, démuni-e, victime d'un choc émotionnel, vous avez besoin d'un vrai changement, abandonnez les tâches digitales, nos services interviennent pour vous assurer un nouvel équilibre de vie sans les corvées digitales.</p>
        </div>
    </div>
  <div class="cards">
      <img src="https://images.unsplash.com/photo-1475503572774-15a45e5d60b9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80">
      <div class="card-text">
        <div>
        <h1>Digit Your Family</h1>
          <h2>Améliorez la qualité de vie digitale de votre famille</h2>
          <p>Profitez de votre temps en famille et assurez la qualité de votre avenir familial. En véritable ami de famille, notre expert prend en main votre besoin digital, et met en place le meilleur plan de dématérialisation.</p>
        </div>
      </div>
    </div>
  <div class="cards">
        <img src="https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1952&q=80">
      <div class="card-text">
        <h1>Digit Your Company</h1>
        <h2>Optimisez les performances de votre collectif</h2>
        <p>Vous êtes une entreprise, une association, un club sportif? Pas assez de temps pour vous consacrer à certaines corvées digitales. Vous avez besoin d'un suivi de communication interne. Lite Services accelère votre démarche en soutenant votre besoin vers une communication optimale, simple et rapide.
  </p>
      </div>
  </div>
  <div class="cards">
        <img src="https://images.unsplash.com/photo-1497032628192-86f99bcd76bc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80">
      <div class="card-text">
        <h1>Digit Your Business</h1>
        <h2>Devenez un expert du travail digital</h2>
        <p>Pour les PME, les hôteliers, les restaurants, les écoles, nous mettons en place votre suivi et procédons à votre dématérialisation puis nous vous conseillons avec des sessions de formation.</p>
      </div>
  </div>
    </div>
  </div>
</div>
<div class="blocks-colors">
  <div class="rdv-square" style="background-color:#009e38";>
    <div class="t-ext">
      <h1>Nos services</h1>
    </div>
    <%= link_to "Contactez-nous", contact_path %>
    <div>
      <p>Révisions, réparation d'ordinateur, services informatiques à domicile, conseils et assistance</p>
      <h4>06 35 15 81 32</h4>
    </div>
  </div>
</div>
<!-- <div class="resume">
  <h1>Nos services pour particuliers</h1>
</div> -->

<div class="card-container">
    <div class="col-xs-12 col-md-6 col-lg-4">
  <div class="cards-1">
      <img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
      <div class="card-text">
      <h2>Un soutien au quotidien</h2>
      <p>Le monde du numérique comporte de nombreuses difficultés pour des personnes qui n'ont pas recours à l'informatique. Nous sommes disponible dans votre quotidien pour mettre en place avec vous votre organisation numérique. Faire confiance à nos services, c'est se donner le temps de vivre normalement.</p>
    </div>
  </div>
  <div class="cards-1">
      <img src="https://images.unsplash.com/photo-1563242152-568e5de6f2b8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80">
      <div class="card-text">
        <h2>Vous guider vers une liberté digitale</h2>
          <p>Découvrir ce que le monde du digital a de meilleur à vous offrir. En faisant confiance à nos professionnels, vous garantissez d'un confort de vie numérique vous donnant le temps de faire une transition logique et adaptée.</p>
    </div>
  </div>
  <div class="cards-1">
      <img src="https://images.unsplash.com/photo-1496180727794-817822f65950?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80">
      <div class="card-text">
      <h2>Aménagement des espaces de vie et solutions matérielles</h2>
        <p>Savez vous qu'une excellente maitrise de votre organisation digitale peut vous apporter le confort et les espaces dont vous avez toujours rêvé? En étudiant minutieusement votre besoin digital, nous serons capable de vous proposer de nouveaux aménagements pour vos espaces et vos intérieurs, professionnels ou personnels.</p>
    </div>
  </div>
    <div class="cards-1">
        <img src="https://images.unsplash.com/photo-1606787365321-53019dba74d8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80">
        <div class="card-text">
          <h2>Formation aux multitâches numériques</h2>
          <p>Faire confiance à nos services, c'est bien! Mais devenir indépendant,c'est encore mieux! Qu'en pensez vous? Durant notre rencontre et nos échanges, vous apprendrez sur votre organisation. Et donc il vous faudra dominer ces nouvelles habitudes.</p>
        </div>
      </div>
    </div>
</div>

<div class="blocks-colors">
  <div class="rdv-square" style="background-color:#f8c549";>
  <div class="t-ext">
    <h1>Nos engagements</h1>
      <%= link_to "Prenez rendez-vous", contact_path %>
    </div>
    <p>Révisions, réparation d'ordinateur, services informatiques à domicile, conseils et assistance</p>
      <h4>06 35 15 81 32</h4>
  </div>
</div>
<!-- <div class="resume">
  <h1>Nos missions</h1>
</div> -->

<div class="card-container">
    <div class="col-xs-12 col-md-6 col-lg-4">
    <div class="cards-1">
        <img src="https://images.unsplash.com/photo-1516149893016-813d9a01d5d3?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
        <div class="card-text">
        <h2>Soutenir une intégration numérique sans frustration</h2>
          <p>En vous rencontrant, nous multiplions les chances de vous permettre de vivre en vous adaptant tranquillement. Le rejet social ne peut pas se numériser. Nous devons donc vous soutenir dans votre quotidien soit pour l'intégration dans un monde numérique, soit pour votre volonté à vous libére des tâches digitales.</p>
      </div>
    </div>
    <div class="cards-1">
        <img src="https://images.unsplash.com/photo-1593642532400-2682810df593?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80">
        <div class="card-text">
          <h2>Lister les gestes et les habitudes numériques du quotidien</h2>
            <p>Les tâches numériques peuvent devenir tellement minutieuses et nombreuses qu'elles en deviennent un problème pour ceux qui n'en ont pas l'habitude. Mais l'assistance de Lite Services vous offre une amélioration de votre condition de vie digitale en maintenant un rapport humain avec un conseiller en informatique. C'est l'une des ambitions majeures de notre entreprise: de pouvoir détecter l'ensemble des tâches et gestes numériques au quotidien pour vous aider à continuer à vivre normalement.</p>
      </div>
    </div>
    <div class="cards-1">
        <img src="https://images.unsplash.com/photo-1519710164239-da123dc03ef4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80">
        <div class="card-text">
        <h2>Retrouvez vos bonnes habitudes et votre temps libre</h2>
          <p>Préserver un mode de vie normal, au plus proche de vos habitudes et de vos usages informatiques. C'est notre engagement auprès de votre mode de vie. Nous souhaitons mettre à disposition nottre professionnalisme afin de vous permettre à préserver un mode de vie normal, qui ne soit pas responsable de la crise numérique</p>
      </div>
    </div>
   <div class="cards-1">
        <img src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80">
      <div class="card-text">
        <h2>Lutter contre l'exclusion numérique</h2>
          <p>Vos habitudes, bien qu'elles ne soient pas digitales, ne doivent pas être remises en question. Et les compétences informatiques n'ont pas à être des habitudes que l'on nous impose, sans même n'y avoir reçu aucun soutien. Personne n'est coupable de l'avancée technologique.Et cette avancée ne doit pas faire autant de victimes.Très rapidemen, nous devons prendre conscience et nous améliorer sur la gestion de la condition humaine face à cette avancée.</p>
      </div>
      </div>
    </div>
</div>

