  <div class="resume" style="margin-left:50px;">
    <h1>Nos réalisations</h1>
  </div>
<div class="container-particulier">
  <div class="cards-unique" >
        <img src="https://images.unsplash.com/photo-1455734729978-db1ae4f687fc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
      <div class="card-text">
        <h1><a href="https://www.service-lite-plus.com/">BasketBall Dreamers</a></h1>
        <h2>La première plateforme d'échanges entre Basketteurs</h2>
        <p>On vous explique tout et surtout on reste auprès de vous. Nos auxiliaires de vie digitale et agent de dématérialisation vont à votre rencontre essentiellement dans le but de vous soutenir vers un présent et un futur digital plus souple, léger et sécurisé.</p>
      </div>
  </div>
  <div class="cards-unique" >
        <img src="https://images.unsplash.com/photo-1521708266372-b3547456cc2d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=962&q=80">
      <div class="card-text">
        <h1>Conseils, assistance, outils professionnels, actualités RGPD</h1>
        <h2>Rester informé pour mieux réagir et s'organiser</h2>
        <p>La technologie a fait un grand pas dans nos vies. Nous devons savoir l'accueillir sans qu'elle même vienne envahir notre quotidien de manière trop intrusive. Grâce à nos concierges digitaux, vous resterez informé des dernières actualités, devenues essentielles pour développer un mode de vie digital stable et économique</p>
      </div>
  </div>
  <div class="cards-unique" >
        <img src="https://images.unsplash.com/photo-1610880858655-d4bcc2da0526?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80">
      <div class="card-text">
        <h1>La dématérialisation au service de la nature</h1>
        <h2>Aménagement d'espace & recyclage</h2>
        <p>L'amélioration de votre vie digitale a nécessairement un impact sur la qualité de l'atmosphère autour de vous. L'un des plus grands avantages dont vous pourrez bénéficier, c'est l'aménagement des espaces et la valorisation des intérieurs. Nos conseillers sont également prêt à répondre à vos demandes pour améliorer la gestion de vos espaces.</p>
      </div>
  </div>
  <div class="cards-unique" >
        <img src="https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1951&q=80">
      <div class="card-text">
        <h1>Cours & Formations</h1>
        <h2>Se former rapidement et simplement</h2>
        <p>C'est un devoir pour nous de vous informer sur le monde qui vous entoure. La formation et les cours vont vous permettre d'acquérir des compétences utiles de nos jours. En échangeant avec nos collaborateurs, vous découvrivez alors quel est votre besoin en apprentissage numérique. </p>
      </div>
  </div>
</div>
