  <div class="resume" style="margin-left:50px;">
    <h1>Nos services aux entreprises</h1>
  </div>
<div class="card-container" style="margin-left:auto;">
  <div class="cards-unique">
        <img src="https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80">
      <div class="card-text">
        <h1>Création de site web</h1>
        <h2>Allégez votre temps individuel</h2>
        <p>Vous êtes seul-e, dépassé par le temps, démuni-e, victime d'un choc émotionnel, vous avez besoin d'un vrai changement, abandonnez les tâches digitales, nos services interviennent pour vous assurer un nouvel équilibre de vie sans les corvées digitales.</p>
      </div>
  </div>
  <div class="cards-unique">
        <img src="https://images.unsplash.com/photo-1497366811353-6870744d04b2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2301&q=80">
      <div class="card-text">
        <h1>Aménagement des espaces de travail</h1>
        <h2>Allégez votre temps individuel</h2>
        <p>Vous êtes seul-e, dépassé par le temps, démuni-e, victime d'un choc émotionnel, vous avez besoin d'un vrai changement, abandonnez les tâches digitales, nos services interviennent pour vous assurer un nouvel équilibre de vie sans les corvées digitales.</p>
      </div>
  </div>
  <div class="cards-unique">
        <img src="https://images.unsplash.com/photo-1533750516457-a7f992034fec?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1981&q=80">
      <div class="card-text">
        <h1>Référencement & Supports de communication</h1>
        <h2>Allégez votre temps individuel</h2>
        <p>Vous êtes seul-e, dépassé par le temps, démuni-e, victime d'un choc émotionnel, vous avez besoin d'un vrai changement, abandonnez les tâches digitales, nos services interviennent pour vous assurer un nouvel équilibre de vie sans les corvées digitales.</p>
      </div>
  </div>
  <div class="cards-unique">
        <img src="https://images.unsplash.com/photo-1504270997636-07ddfbd48945?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80">
      <div class="card-text">
        <h1>Dématérialisation</h1>
        <h2>Allégez votre temps individuel</h2>
        <p>Vous êtes seul-e, dépassé par le temps, démuni-e, victime d'un choc émotionnel, vous avez besoin d'un vrai changement, abandonnez les tâches digitales, nos services interviennent pour vous assurer un nouvel équilibre de vie sans les corvées digitales.</p>
      </div>
  </div>
</div>
