.banner {
  height:390px;
  // margin-top:100px;
  background-size: cover;
  // background-position:center;
  background-image: url('https://images.unsplash.com/photo-1457364887197-9150188c107b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80');
  h1 {
    color:white;
    text-align: center;
    font-weight:bold;
  }
  h2 {
    color:white;
    text-align: center;
  }
  p {
    color:white;
    text-align:center;
  }
  img {
    height:260px;
    width:100
  }
  .page-title {
    padding: 40px;
    height:10px;
    h1 {
      font-size: 50px;
      font-family: oswald;
      font-weight:bold;
    }
    h2{
      font-size: 40px;
      font-family: Athiti;
      font-weight:bold;
    }
    p{
      font-size: 20px;
      font-family: Athiti;
      font-weight:lighter;
    }
    }
}
