.cards {
  width:300px;
  box-shadow:0 0 15px rgba(0,0,0,0.2);
  background:white;
  margin-right:10px;
  margin-left:10px;

  img {
    height:300px;
    width:100%;
    object-fit:cover;
  }
  .card-text {
    width:100%;

    h1{
      color:black;
      font-weight:bold;
      text-align:center;
      font-size: 30px;
      font-family: oswald;
    }
    h2{
      color:black;
      font-weight:bold;
      font-size: 20px;
      text-align:center;
      font-family: oswald;
    }
    p{
      color:black;
      font-weight:10px;
      text-align:center;
      font-family:Athiti;
      padding:10px;
    }
  }
}

.cards-1 {
  width:330px;
  box-shadow:0 0 15px rgba(0,0,0,0.2);
  background:white;
  margin-right:auto;
  margin-left:auto;

  img {
    height:250px;
    width:100%;
    object-fit:cover;
  }
  .card-text {
    width:100%;
    h1{
      color:black;
      font-weight:bold;
      text-align:center;
      font-size: 30px;
      font-family: oswald;
      padding:10px;
    }
    h2{
      color:black;
      font-weight:bold;
      font-size: 20px;
      text-align:center;
      font-family: oswald;
      padding:10px;
    }
    p{
      color:black;
      font-weight:10px;
      text-align:center;
      font-family:Athiti;
      padding:10px;
    }
  }
}

.cards-unique {
  width:1000px;
  // height:400px;
  box-shadow:0 0 15px rgba(0,0,0,0.2);
  background:white;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:100px;

  img {
    height:250px;
    width:100%;
    object-fit:cover;
  }
  .card-text {
    width:100%;
    padding:10px;
    h1{
      color:black;
      font-weight:bold;
      text-align:center;
      font-size: 30px;
      font-family: oswald;
      padding:10px;
    }
    h2{
      color:black;
      font-weight:bold;
      font-size: 20px;
      text-align:center;
      font-family: oswald;
      padding:10px;
    }
    p{
      color:black;
      font-weight:10px;
      text-align:center;
      font-family:Athiti;
    }
  }
}

.card-contact {
  width:400px;
  box-shadow:0 0 15px rgba(0,0,0,0.2);
  background:white;
  margin-right:10px;
  margin-left:10px;
  img {
    height:300px;
    width:100%;
    object-fit:cover;
  }
  .card-text {
    width:100%;
    h1{
      color:black;
      font-weight:bold;
      text-align:center;
      font-size: 30px;
      font-family: oswald;
    }
    h2{
      color:black;
      font-weight:bold;
      font-size: 20px;
      text-align:center;
      font-family: oswald;
    }
    p{
      color:black;
      font-weight:10px;
      text-align:justify;
      font-family:Athiti;
      padding:10px;
    }
  }
}

// .cards {
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 16px;
// }

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .cards {
//     grid-template-columns: 1fr 1fr 1fr;
//   }
// }

