// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "components/navbar";
@import "components/footer";
@import "components/banner";
@import "components/cards";
@import "components/titre";
@import "components/logo";
// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
// @import "font-awesome";
// @import 'mapbox-gl/dist/mapbox-gl';
//@import 'progressbar/dist/progressbar';

// Your CSS partials
// @import "components/index";
@import "pages";
@import "pages/contact";
@import "pages/home";
@import "pages/particuliers";
